

html, body {
    height: 100%;
    margin: 0;
  }
  body {
    background-color: #fff;
    font-family: sans-serif;
    overflow: hidden;
    /*font-size: calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width])));*/
    
  }
  h1 {
    font-weight: normal;
    font-size: 140%;
  }
  table {
    height: 100%;
    width: 100%;
  }
  #blocklyArea {
    height: 100%;
  }
/*
  .blocklyTreeLabel{
    font-size: 0.8cm;
  }*/
/*
  .blocklyTreeRow{
    height: auto;
    line-height: normal;
  }*/
/*
  .blocklyPathDark, .blocklyPathLight{
    display: none;
  }*/

